/* styles.css */

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

div {
  padding: 10px;
  background-color: #f9f9f9;
  text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000080;
    color: #fff;
    cursor: pointer;
}
h1 {
  text-align: center;
}

button:hover {
    background-color: #0056b3;
}

#results-container {
    margin-top: 20px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}
.hint {
  text-decoration: underline;
  cursor: pointer;
  color: #000080;
  display: list-item;
  list-style-position: inside;
}
.hourglass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.hourglass-spinner {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 2px solid #333;
  border-top-color: #666;
  animation: hourglass-spinner 1s linear infinite;
}

@keyframes hourglass-spinner {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
textarea, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #000080;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#results-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  #results-table th, #results-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #results-table th {
    background-color: #f0f0f0;
  }
  
  #pagination-container {
    margin-top: 20px;
    text-align: center;
  }
  
  #prev-page-btn, #next-page-btn {
    background-color: #000080;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #prev-page-btn:hover, #next-page-btn:hover {
    background-color: #0056b3;
  }