/* styles.css */

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

#results-container {
    margin-top: 20px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

#results-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  #results-table th, #results-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #results-table th {
    background-color: #f0f0f0;
  }
  
  #pagination-container {
    margin-top: 20px;
    text-align: center;
  }
  
  #prev-page-btn, #next-page-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #prev-page-btn:hover, #next-page-btn:hover {
    background-color: #3e8e41;
  }