<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Insights Hackathon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Dynamic Insights Hackathon</h1>
    <div class="container">
        <button id="generate-sql-btn">Generate SQL Query</button>
        <button id="execute-query-btn">Execute Query</button>
        <button id="display-results-btn">Display Query Results</button>
        <button id="export-to-csv-btn">Export to CSV</button>

        <div id="results-container"></div>
        <div id="sql-query-container"></div>

        <form id="generate-sql-form">
            <label for="natural-language-input">Natural Language Input:</label>
            <textarea id="natural-language-input" name="natural-language-input">Show the names of employees who have an issue code</textarea>
            <button id="generate-sql-submit-btn">Generate SQL Query</button>
        </form>

        <form id="execute-query-form" method="post">
            <label for="sql-query-input">SQL Query:</label>
            <textarea id="sql-query-input" name="sql-query-input"></textarea>
            <button id="execute-query-submit-btn" type="button">Execute Query</button>
        </form>

        <form id="export-to-csv-form">
            <label for="filename-input">Filename:</label>
            <input type="text" id="filename-input" name="filename-input"Tempdata.csv>
            <button id="export-to-csv-submit-btn">Export to CSV</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>